.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cartItem{
    width: 700px;
    height: 200px;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    margin: 30px;
}

.cartItem img{
    width: 150px;
    margin: 10px;
}

.cartItem .description{
    width: 100%;
    font-size: 20px;
    margin-left: 20px;
}
.cartItem{
    display: flex;
}

.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;

}

.checkout button{
    width: 150px;
    height: 50px;
    background-color: rgb(20,20,20);
    color: white;
    border: none;
    border-radius: 8px;
    margin:10px;
    cursor:pointer;
}

